<ion-grid fixed>
  <ion-row>
    <ion-col
      size-lg="3"
      size-md="4"
      size-sm="6"
      size-xs="12"
      size="12"
      *ngFor="let article of articles; index as currentIndex"
    >
      <app-single-news
        [singleNews]="article"
        [currentIndex]="currentIndex"
        [isFavorite]="isFavorite"
      ></app-single-news>
    </ion-col>
  </ion-row>
</ion-grid>
