ion-card-title,
ion-img {
  cursor: pointer;
}

.news-more {
  font-size: 25px !important;
  position: absolute;
  right: -25px;
  top: -18px;
}
.text-primary {
  color: var(--ion-color-dark) !important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
