ion-slides {
  height: 100%;
  .slide {
    display: block;
    h2 {
      margin-top: 2.8rem;
    }
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: var(--ion-color-step-600, #60646b);
    }
  }
}
