<ion-header>
  <app-header title="Favoritos"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides
    *ngIf="localDataService.newsOnDevice.length === 0"
    mode="md"
    pager="md"
    scrollbar="md"
    scroll-y="false"
  >
    <ion-slide>
      <div class="slide">
        <h2>No favorite news yet</h2>
        <p>You can try to save some of them.</p>
      </div>
    </ion-slide>
  </ion-slides>
  <app-news
    *ngIf="localDataService.newsOnDevice.length > 0"
    [articles]="localDataService.newsOnDevice"
    [isFavorite]="true"
  ></app-news>
</ion-content>
